* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    background: #f2f2f2;
    font-family: Arial, sans-serif;
    font-size: 12px;
}
.clearfix:before,
.clearfix:after {
    content: '';
    display: table;
}
.clearfix:after {
    clear: both;
}
.container {
    width: 860px;
    margin: 0 auto;
    padding: 20px 0;
}
.content {
    float: left;
    width: 700px;
}
.sidebar {
    float: right;
    width: 220px;
}
.items-list {
    margin: -20px 0 0 -20px;
    width: 100%;
    list-style: none;
}
.items-list li {
    float: left;
    width: 140px;
    height: 234px;
    margin: 20px 0 0 20px;
    padding: 5px;
    border: 1px solid #ccc;
    background: #fff;
    box-shadow: 0px 0px 3px #ccc;
    text-align: center;
}
.items-list img {
    width: 100%;
    height: auto;
}
.items-list h4 {
    font-size: 14px;
    text-transform: capitalize;
    color: #333;
}
.items-list span {
    display: block;
}
[class*=btn] {
    display: inline-block;
    padding: 2px 6px;
    margin: 2px auto 0;
    background: #ddd;
    border-radius: 3px;
    color: #333;
    text-decoration: none;
}
.cart {
    margin-top: 20px;
}
table {
    width: 100%;
    background: #fff;
    border-collapse: collapse;
}
table td {
    padding: 5px;
    border: 1px solid #ccc;
}
table [class*=btn] + [class*=btn] {
    margin-left: 5px;
}
.total {
    padding: 10px 0;
}
.btn-checkout,
.btn-ok {
    float: right;
}
.btn-cancel {
    float: left;
}
.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(51, 51, 51, 0.5);
}
.popup {
    width: 600px;
    margin: 200px auto 0;
    background: #fff;
    border: 1px solid #999;
    box-shadow: 0px 0px 6px #999;
}
.popup-content {
    padding: 10px 20px;
}
.popup-content p {
    margin: 5px 0;
}
.popup-header,
.popup-footer {
    padding: 10px 20px;
    background: #f2f2f2;
}
.form-row + .form-row {
    margin-top: 10px;
}
.form-row .label {
    float: left;
    width: 200px;
}
.form-row .control {
    float: right;
    width: 360px;
    box-sizing: border-box;
}